<!DOCTYPE html>
<html lang="en">
<head>
    <title>Akash</title>
</head>
<body style="background-image:url(https://wallpaperaccess.com/full/8111971.jpg);">

    <marquee><h1 style="background-color:powderblue;">I am a python developer</h1></marquee>
    <p style="background-color:green;">This is a Akash.</p>
    <h1><i style="background-color:chartreuse">This text is italic</i></h1>
    <video width="320" height="240" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">.
      </video>
      <p style="background-color:red;">This is a Akash.</p>
      <h1><i style="background-color:pink">gaming</i></h1>
      <marquee><h1 style="background-color:blue;">I am a Django developer</h1></marquee>
</body>
</html>